# OS / editors
.DS_Store
*.swp
*.idea/
.vscode/

# Python
__pycache__/
*.pyc
.venv*/
.venv*/
.env
.ipynb_checkpoints/

# Data & artifacts
data/
outputs/
artifacts/
reports/
vector_index/
model_*.pkl
*.faiss
*.jsonl

# Streamlit/Secrets
.streamlit/
secrets.toml
